<!DOCTYPE html>

<style class="darkreader darkreader--fallback" media="screen"></style>
<style class="darkreader darkreader--text" media="screen"></style>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <h1 style="text-align:center; font-size: 80px;">Virker Støtteberegneren?</h1>
  <p style="text-align: center; font-size: 120px; font-weight: bold;">Nej</p>
    </div>
  </div>
</body>

</html>


